<%= render "components/card", url: course_path(course.slug), action_label: t('.action') do %>
  <%= image_tag course.thumbnail_url, loading: "lazy", alt: "#{course.name} thumbnail", class: "mb-2 flex-none" %>
  <h2 class="font-bold text-md mb-4 flex-auto"><%= course.name %></h2>

  <div class="flex flex-col text-base justify-between flex-none">
    <div class="flex items-center mb-2">
      <%= render "components/icons/video-camera", classes: "h-6 w-6", stroke_width: 1 %>
      <span class="ml-1"><%= t 'components.course_card.lessons', count: course.lessons_count %></span>
    </div>

    <div class="flex items-center mb-2">
      <%= render "components/icons/clock", classes: "h-6 w-6", stroke_width: 1 %> 
      <span class="ml-1"><%= t 'components.course_card.hours', count: course.hours %></span>
    </div>

    <div class="flex items-center text-yellow">
      <%= render "components/icons/currency-dollar", classes: "h-6 w-6", stroke_width: 1 %> 
      <span class="ml-1"><%= t 'components.course_card.price', count: 0 %></span>
    </div>
  </div>
<% end %>
