<div class="container-fluid" id="lesson">
  <div class="col-md-3" id="sidebar">
    <h1><%= @course.name %></h1>
    <div class="course-progress">
      40%
    </div>
    <ul class="course-lessons">

      <% @course.lessons.each do |lesson| %>
        <!-- fix it: use helper method to create state class -->
        <li class="<%= lesson.status_for(current_user).finished ? 'finished' : '' %> <%= lesson.id == @lesson.id ? 'current' : '' %>">
        <%= link_to lesson.name, course_lesson_path(@course, lesson) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="lesson-container">
      <h2><%= @lesson.name %></h2>
      <div id="player"></div>
      <div class="description"><%= @lesson.description %></div>
    </div>
  </div>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubeIframeAPIReady() {
    setupPlayer(
      "<%= @lesson.provider_id %>",
      "<%= course_lesson_status_index_path(@course, @lesson) %>",
      "<%= finish_course_lesson_status_index_path(@course, @lesson) %>"
    )
  }
</script>