<div class="container-fluid" id="lesson">
  <div class="col-md-3" id="sidebar">
    <h1><%= @course.name %></h1>
    <div class="course-progress"></div>
    <ul class="course-lessons">
      <% @course.lessons.each do |lesson| %>
        <li><%= link_to lesson.name, course_lesson_path(@course, lesson) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-9">
    <h2><%= @lesson.name %></h2>
    <div><%= @lesson.description %></div>
    <div id="player"></div>
  </div>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      playerVars: { },
      videoId: '<%= @lesson.provider_id %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  function isActive(event) {
    return event && event.data && event.data == YT.PlayerState.PLAYING;
  }

  function onPlayerStateChange(event) {
    track(event);
    if(event.data == YT.PlayerState.ENDED) {
      debugger;
      // TODO: finish
    }
  }

  function track(event) {
    var scheduleTrack = function() {
      setTimeout(function(){ track(event) }, 2000);
    }

    if(isActive(event)) {
      console.log("send time", player.getCurrentTime());
      var statusURL = "<%= course_lesson_status_index_path(@course, @lesson) %>"

      fetch(statusURL, {
        method: 'POST',
        credentials: 'include',
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          time: player.getCurrentTime()
        })
      }).then(scheduleTrack, scheduleTrack);
    }
  }
</script>