<div class="container-fluid" id="lesson">
  <div class="col-md-9 lesson-container">
    <div class="lesson-meta">
      <% if has_previous_lesson(@course, @lesson) %>
        <%= link_to 'Previous Lesson', previous_course_lesson_path(@course,@lesson), class: 'btn btn-primary previous-lesson' %>
      <% end %>
      <h2><%= @lesson.name %></h2>

      <% if has_next_lesson(@course, @lesson) %>
        <%= link_to 'Next Lesson', next_course_lesson_path(@course, @lesson), class: 'btn btn-primary next-lesson' %>
      <% end %>
    </div>
    <div id="player"></div>
    <div class="description"><%= hyperlink @lesson.description %></div>
  </div>

  <%= render 'shared/sidebar/lessons', course: @course,
                                       current_lesson: @lesson,
                                       has_title: true,
                                       has_progress: true,
                                       size: 'col-md-3' %>
</div>

<script data-no-turbolink>
  setupPlayer(
    "<%= @lesson.provider_id %>",
    "<%= course_lesson_status_index_path(@course, @lesson) %>",
    "<%= finish_course_lesson_status_index_path(@course, @lesson) %>"
  )
</script>
