<% content_for :title, "#{@lesson.name} - #{@lesson.course.name}" %>
<% content_for :description, sanitize(@lesson.description, tags: %w(), attributes: %w()) %>

<hgroup class="flex flex-col-reverse">
  <h2 class="font-bold text-4xl"><%= @lesson.name %></h2>
  <h3 class="text-sm my-3 underline"><%= link_to @lesson.course.name, @lesson.course %></h3>
</hgroup>
<div class="flex flex-col lg:flex-row-reverse">
  <div class="items-center text-2xl my-5 w-full lg:w-2/3 lg:pl-4">
    <div class="py-2 lg:hidden">
      <span class="block font-bold"><%= @lesson.duration / 60 %></span>
      <span class="block text-base">minutes</span>
    </div>

    <div class=" relative h-0 overflow-hidden max-w-full pb-[56%] py-2">
    <iframe title="Lesson video" class="absolute top-0 left-0 w-full h-full" id="ytplayer" type="text/html"
    src="http://www.youtube.com/embed/<%= @lesson.provider_id %>?origin=http://example.com"
    frameborder="0"></iframe>
    </div>
  </div>
  <p class="my-5 w-full lg:w-1/3">
    <%= sanitize @lesson.description, tags: %w(ul ol li br), attributes: %w(class) %>
  </p>
</div>
<% courses_lessons = @lesson.course.lessons.order("position ASC").select("position, name, slug").to_a %>

<% if courses_lessons.last.position != @lesson.position %> 
  <div class="drop-shadow-md mb-8 bg-white rounded-3xl p-4">
    <h2 class="font-bold mb-2">Next Lessons</h2>

    <ol>
      <% courses_lessons.each do |lesson| %>
        <% if lesson.position > @lesson.position %>
          <li class="py-4">
            <%= link_to course_lesson_url(course_id: @lesson.course.to_param, id: lesson.to_param.presence || lesson.id), class: "flex" do %> 
              <%= image_tag 'play.svg', width: "40px", height: "40px", alt: "Start lesson" %>
              <span class="ml-4 flex-1 font-light"><%= lesson.name %></span>
            <% end %>
          </li>
        <% end %>
    <% end %>         
    </ol>   
  </div>
<% end %>

<!-- div class="sticky bottom-0 bg-blue-900 p-4 flex items-center justify-center">
  <button class="font-bold px-4 py-2 rounded-lg bg-brand-500">Enroll now for free</button>
</div -->


<script type="application/ld+json">
  {
      "@context": "https://schema.org",
          "@type": "VideoObject",
            "name": "<%= @lesson.name %>",
            "description": "<%= sanitize(@lesson.description, tags: %w(), attributes: %w()).gsub("\n", "") %>",
            "thumbnailUrl": "<%= @lesson.thumbnail_url %>",
            "url": "<%= course_lesson_url(@lesson.course.to_param, @lesson.to_param.presence || @lesson.id) %>",
            "uploadDate": "<%= @lesson.created_at %>",
            "duration": "<%= ActiveSupport::Duration.build(@lesson.duration).iso8601 %>"
        }
</script>
