<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf8">
    <title><%= yield(:title).presence || "Courses" %> - Menon</title>
    <meta name="description" content="<%= yield(:description).presence || "Free online courses" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#80EECD">
    <meta name="msapplication-TileColor" content="#80EECD">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <% if Rails.application.config.real_env.production? %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2309414464751824"
        crossorigin="anonymous"></script>
    <% end %>
  </head>

  <body class="bg-blue-100 text-purple-500 text-base">
    <header class="flex p-3 max-w-screen-lg mx-auto">
      <%= link_to root_url, class: "mr-2" do %>
        <%= image_tag "Logo.svg", class: "w-14 h-14", alt: "logo" %>
      <% end %>
      <h1 class="flex font-bold text-2xl items-center" >
        <%= link_to root_url do %>
          Menon
        <% end %>
      </h1>
    </header>

    <%= yield %>

    <footer class="p-3 max-w-screen-lg mx-auto">
    </footer>
  </body>
</html>
