<div class="container-fluid">
  <div id="courses">
    <div class="col-md-12 col-sm-12">
      <form id="language_selection">
        <label>Language</label>
        <%= languages_select @languages %>
      </form>
    </div>

    <% @courses.each do |course| %>
      <div class="course-wrapper col-sm-6 col-md-3">
        <div class="course">
          <img class="b-lazy"
            src=""
            data-src="<%= course.thumbnail_url %>"
          />
          <h2><%= course.name %></h2>
          <p><%= course.description %></p>
          <%= link_to 'Enter', course, class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
