<div style="background-image: url('<%= image_path('hero-banner.jpg') %>')" class="bg-brand-dark text-blue-100 py-20 mb-5 bg-cover bg-center">
  <div class="p-3 max-w-screen-lg mx-auto">
    <h1 class="font-bold text-7xl mb-8"><%= t ".title" %></h1>
    <h2 class="text-lg text-3xl mt-3"><%= t ".subtitle.html" %></h2>
  </div>
</div>

<main class="p-3 max-w-screen-lg mx-auto">
  <% if @courses.featured? %>
    <section>
      <h3 class="font-bold text-3xl"><%= t ".featured_courses" %></h3>
      <%= render 'components/course_list', courses: @courses.featured %>
    </section>
  <% end %>

  <section>
    <h3 class="font-bold text-3xl"><%= t ".latest_courses" %></h3>
    <%= render 'components/course_list', courses: @courses.latest %>
    <%# <%= link_to t(".more_courses", category: "recently updated"), root_url, class: "text-right block underline" %> 
  </section>

  <% if @courses.top_categories.present? %>
    <section>
      <h3 class="font-bold text-3xl mt-6"><%= t ".top_categories" %></h3>

      <% @courses.top_categories.each do |category, courses| %>
        <h4 class="font-bold text-lg mt-5 mb-8"><%= t ".#{category}" %></h4>
        <%= render 'components/course_list', courses: courses %>
        <%= link_to t(".more_courses", category: t(".#{category}")), tag_search_index_url(tag: "category:#{category}"), class: "text-right block underline" %>
      <% end %>
    </section>
  <% end %>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Courses",
        "item": "<%= courses_url %>"
      }]
    }
  </script>
</main>
