<div class="container-fluid">
  <div id="courses">
    <div class="col-md-12 col-sm-12">
      <form id="language_selection">
        <label>
          <%= t(:language_selection, scope: :course) %>
        </label>
        <%= languages_select @languages %>
      </form>
    </div>

    <% @courses.each do |course| %>
      <div class="course-wrapper col-sm-6 col-md-3" itemprop="mainEntity" itemscope itemtype="http://schema.org/CreativeWork">
        <div class="course">
          <img class="b-lazy"
            itemprop="image"
            src=""
            data-src="<%= course.thumbnail_url %>"
          />
          <h2 itemprop="name"><%= course.name %></h2>
          <p itemprop="text"><%= course.description %></p>
          <%= link_to t(:enter, scope: :course), course, class: 'btn btn-default', itemprop: "url" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
