<% content_for :title, "#{@course.name}" %>
<% content_for :description, sanitize(@course.description, tags: %w(), attributes: %w()) %>

<h1 class="font-bold text-4xl"><%= @course.name %></h1>

<p class="my-5">
  <%= sanitize @course.description, tags: %w(ul ol li br), attributes: %w(class) %>
</p>

<div class="grid grid-cols-3 gap-2 text-2xl my-5">
  <div>
    <span class="block"><%= @course.lessons.count%></span>
    <span class="block">vídeos</span>
  </div>
  <div>
    <span class="block"><%= @course.lessons.map { |lesson| lesson.duration }.sum / 3600 %></span>
    <span class="block">hours</span>
  </div>

  <img src="<%= @course.thumbnail_url %>" class="w-21 h-21">
</div>

<div class="drop-shadow-md mb-8 bg-white rounded-3xl p-4">
  <h2 class="font-bold mb-2">Lessons</h2>

  <ol>
    <% @course.lessons.each do |lesson| %>
      <li class="flex py-4">
        <%= image_tag 'play.svg' %>
        <span class="ml-4 flex-1 font-light"><%= lesson.name %></span>
      </li>
    <% end %>

  </ol>
</div>

<div class="sticky bottom-0 bg-blue-900 p-4 flex items-center justify-center">
  <button class="font-bold px-4 py-2 rounded-lg bg-brand-500">Enroll now for free</button>
</div>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "<%= @course.name %>",
      "description": "<%= sanitize(@course.description, tags: %w(), attributes: %w()) %>",
      "provider": {
        "@type": "Organization",
        "name": "<%= @course.creator_name %>",
        "sameAs": "<%= @course.creator_url %>"
      }
    }
</script>
