<div class="container-fluid" id="course">
  <div class="col-md-9 col-sm-12 course-container">
    <h2> <%= @course.name %> </h2>
    <div class="description">
      <h3> About this course </h3>
      <%= hyperlink @course.description %>
      <p>(<%= @course.lessons.count %> lessons)</p>
      <%= link_to course_lesson_path @course, @course.lessons.first do %>
        <%=  user_signed_in? && @course.enrolled?(current_user) ? 'Resume' : 'Enroll Now' %>
      <% end %>
    </div>
    <div>

    </div>
  </div>

  <%= render 'shared/sidebar/lessons', course: @course,
                                       current_lesson: @lesson,
                                       has_title: false,
                                       has_progress: false,
                                       size: 'col-sm-12 col-md-3' %>
