<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= yield(:title).presence || "Courses" %> - Menon</title>
    <meta name="description" content="<%= yield(:description).presence || "Free online courses" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#80EECD">
    <meta name="msapplication-TileColor" content="#80EECD">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="bg-blue-50 text-blue-900 text-base">
    <header class="flex p-3 max-w-screen-lg mx-auto">
      <h1>
      
      <%= link_to root_url do %>
         <%= image_tag "Logo.svg", class: "w-14 h-14", alt: "logo" %>
         <span class="-indent-[5000px] inline-block">Menon</span>

      <% end %>
      </h1>
    </header>

    <main class="p-3 max-w-screen-lg mx-auto">
      <%= yield %>
    </main>

    <footer class="p-3 max-w-screen-lg mx-auto">
    </footer>

    <% if Rails.application.config.real_env.production? %>
      <script async data-ad-client="ca-pub-2309414464751824" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" crossorigin="anonymous"></script>
    <% end %>
  </body>
</html>
