<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% end %>
    Mênon - <%= t(:slogan, scope: :application) %>
  </title>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield :description %>">
  <% end %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>" itemscope itemtype="http://schema.org/WebPage">
  <header>
    <h1>
      <%= link_to 'Mênon', root_path, itemprop: "name" %>
      <!--span itemprop="about"><%= t(:slogan, scope: :application) %></span-->
    </h1>
    <!--div id="languages">
      <button data-lang="en">English</button>
      <button data-lang="pt">Português</button>
    <div-->
    <nav>
      <ul>
        <li class="<%= nav_class(root_path) %>">
          <%= link_to t(:courses, scope: :nav), root_path  %>
        </li>
        <!--li class="<%= nav_class(contact_path) %>">
          <%= link_to t(:contact, scope: :nav), contact_path %>
        </li-->
        <% if user_signed_in? %>
          <li class="<%= nav_class(account_path) %>">
            <%= link_to t(:account, scope: :nav), account_path %>
          </li>
          <li>
            <%= link_to t(:logout,scope: :nav), destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="<%= nav_class(new_session_path(:user)) %>">
            <%= link_to t(:sign_in, scope: :nav), new_session_path(:user) %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <footer itemprop="creator" itemscope itemtype="http://schema.org/Person">
    Made with <%= "icon" + 'heart' %> by <a href="http://twitter.com/_dukex" itemprop="name">@_dukex</a>
  </footer>

  <script src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,400italic,700,800,300:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
