<!DOCTYPE html>
<html>
<head>
  <title>Menon</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,400italic' rel='stylesheet' type='text/css'>

  <script src="https://www.youtube.com/iframe_api"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>">
  <header>
    <h1><%= link_to 'Mênon', root_path %></h1>
  </header>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
